## mako

<%page expression_filter="h"/>
<%namespace name='static' file='../static_content.html'/>

<%!
from django.conf import settings
from django.utils.http import urlquote_plus
from django.utils.translation import ugettext as _
from openedx.core.djangolib.js_utils import js_escaped_string
from openedx.core.djangolib.markup import HTML
from django.core.urlresolvers import reverse
%>

<%
# set doc language direction
from django.utils.translation import get_language_bidi
is_rtl = get_language_bidi()
%>

<%block name="content">
% if user_access['is_anonymous']:
    <div class="course-message grid-manual">
        % if not is_rtl:
        <img class="message-author col col-2" src="${static.url(image_src)}"/>
        % endif
        <div class="message-content col ${'col-12' if is_rtl else 'col-10'}">
            ${HTML(_(
                "<div class='message_header'>You must be enrolled in the course to see course content.</div>"
                " {sign_in_link} or {register_link} and then enroll in this course."
            ).format(
                sign_in_link=HTML("<a href='/login?next={current_url}'>{sign_in_label}</a>").format(
                    sign_in_label=_("Sign in"),
                    current_url=urlquote_plus(request.path),
                ),
                register_link=HTML("<a href=''/register?next={current_url}'>{register_label}</a>").format(
                    register_label=_("register"),
                    current_url=urlquote_plus(request.path),
                )
            ))}
        </div>
    </div>
% endif
% if not user_access['is_anonymous'] and not user_access['is_enrolled']:
    <div class="course-message grid-manual">
        % if not is_rtl:
        <img class="message-author col col-2" src="${static.url(image_src)}"/>
        % endif
        <div class="message-content col ${'col-12' if is_rtl else 'col-10'}">
            ${HTML(_(
                "<div class='message_header'>Welcome to {course_display_name}</div><a class='enroll_link' href='#'> Enroll now</a>"
                " to access the full course."
            ).format(
                course_display_name=course.display_name,
            ))}
        </div>
    </div>
% endif
% if (user_access['is_staff'] or user_access['is_enrolled']) and not already_started:
    <div class="course-message grid-manual">
        % if not is_rtl:
        <img class="message-author col col-2" src="${static.url(image_src)}"/>
        % endif
        <div class="message-content col ${'col-12' if is_rtl else 'col-10'}">
            ${HTML(_(
                "<div class='message_header'>Course starts in {days_until_start_string} on {course_start_date}.</div>"
                "<a class='add_calendar_reminder' href='#'>Add a calendar reminder</a>."
            ).format(
                days_until_start_string=days_until_start_string,
                course_start_date=course_start_date,
            ))}
        </div>
    </div>
% endif
</%block>
